<h1>id : <%= @taskfind_id.id %> のタスク詳細ページ</h1>

<p><%= @taskfind_id.content %></p>

<%= link_to '一覧へ戻る', tasks_path %>
<%= link_to '編集する', edit_task_path(@taskfind_id) %>
<%= link_to '削除する', task_path(@taskfind_id), method: :delete, data: {confirm: '本当に削除してよろしいですか？' } %>